body
{
    background: #000 url(../../A/imagens/wallpaper002.jpg) center center/cover no-repeat fixed;
}

main
{
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    margin: auto;
    border: 1px solid rgb(0, 255, 0);
    border-radius: 15px;
}