@charset "UTF-8";

/* Todas as demais mídias*/

/*
    Pequenas telas: i <- 600px
    Celular: 600px -> 768px
    Tablet: 768px -> 992px
    Desktop: 992px -> 1200px
    Grandes telas: 1200px -> i
*/

body
{
    background: black url(../imagens/back-phone.jpg) center center/cover no-repeat;
}

main{
    background-color: rgba(255, 255, 255, 0.642);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1
{
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.473);
}

img
{
    display: block;
    margin: auto;
}

img#Phone{ display: block;}