#Container
{
    background-color: rgb(0, 32, 32);
    position: relative;
    height: 500px;
    padding: 10px;
}
#Conteudo {
    position: absolute;
    left: 50% ;
    top: 50%;
    background-color: rgb(50, 0, 97);
    height: 200px;
    width: 400px;
    transform: translate(-50%, -50%);
}