@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

main
{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.Video
{
    margin: 0px -20px 30px -20;
    position: relative;
    padding-bottom: 50%;
}

div.Video > iframe
{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}