html
{
    font-family: Arial, Helvetica, sans-serif;
}

*
{
    padding: 0px;
    margin: 0px;
}

table
{
    border-collapse: collapse;
    position: relative;
    margin: 10px;
}

tr, td, th
{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

tbody > tr:nth-child(2n+1)
{
    background-color: rgb(209, 209, 226);
}

thead
{
    background-color: rgb(44, 44, 44);
    color: white;
    position: sticky;
    top: 0;
}

tfoot
{
    background-color: rgb(44, 44, 44);
    color: white;
    position: sticky;
    bottom: 0;
}

caption
{
    border: 5px solid rgb(180, 180, 180);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: lightgray;
    color: black;
}
