body
    {
        font-family: Arial, Helvetica, sans-serif;
    }
    table
    {
        width: 500px;
        border-collapse: collapse;
        text-align: center;
        position: relative;
    }

    caption
    {
        background-color: rgb(238, 238, 238);
        border: 5px solid rgb(190, 190, 190);
        color: rgb(43, 43, 43);
        font-size: 1.3em;
        font-weight: bold;
        padding: 10px;
    }

    td, th
    {
        border: 1px solid black;
        padding: 25px; 
    }


    thead > tr > th
    {
        position: sticky;
        top: 0;
        background-color: #383838;
        border: 1px solid black;
    }

    tfoot > tr > td, th
    {
        position: sticky;
        bottom: 0;
        background-color: #383838;
        border: 1px solid black;
    }

    thead, tfoot
    {
        background-color: #383838;
        color: white;
    }

    tbody > tr:nth-child(2n+1)
    {
        background-color: lightgray;
    }

    td.num
    {
        padding: 10px;
    }

    th#Populacao
    {
        width: 50px;
    }